<style>

    body {
        height: 100%;
        overflow: hidden;
    }

    .side-bar-left {
        left: 0;
    }
        .side-bar-left ul li button img {
            padding-right: 15px;
        }

    .side-bar-right {
        right: 0;
        text-align: right;
    }
        .side-bar-right ul li button img {
            padding-left: 15px;
        }


    .side-bar {
        position: fixed;
        top: 0;
        height: 100%;
        padding: 40px 30px 0px 20px;
        background-color: brown;
    }

        .side-bar ul {
            list-style: none;
        }

            .side-bar ul li {
                padding: 10px 0px 10px 0px;
                border-radius: 5px;
            }

                .side-bar ul li:hover {
                    background-color: rosybrown;
                }

                .side-bar ul li button {
                    background: none;
                    color: white;
                    border: none;
                }

</style>

<div class="side-bar side-bar-left">
    <ul>
        @foreach (var item in Available)
        {
            <li>
                <button @onclick="@((args) => AddObject(args,item.Name))">
                    <img src="@("/media/Icons/Icon_" + item.Name + ".png")" />
                    @item.Name
                </button>
            </li>
        }
    </ul>
</div>

<div class="side-bar side-bar-right">
    <ul>
        @foreach (var item in controls)
        {
            <li>
                <button @onclick="@((args) => ControlClick(item))">
                    @item
                    <img src="@("/media/Icons/Icon_" + item + ".png")" />
                </button>
            </li>
        }
    </ul>
</div>

<div class="main">
    <Simulation @ref="sim" Preset="Preset" />
</div>


@code{

    private Simulation sim;
    private List<string> controls = new List<string>();

    [Parameter]
    public List<Models.AvailableApparatus> Available { get; set; }

    [Parameter]
    public Models.SaveState Preset { get; set; }

    private void AddObject(MouseEventArgs e, string type)
    {
        sim.AddObject(e, type);
        sim.Rerender();

    }

    private void ControlClick(string type)
    {
        switch(type.ToUpper())
        {
            case "PLAY":
                sim.PlayPause();
                controls[controls.IndexOf(type)] = "Pause";
                break;
            case "PAUSE":
                sim.PlayPause();
                controls[controls.IndexOf(type)] = "Play";
                break;
            case "CLEAR":
                sim.Clear();
                break;
            case "SAVE":
                sim.Save();
                break;
            case "RESET":
                sim.Reset();
                break;
            default:
                break;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {

            if (Available.Count() == 0)
            {
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/RedBallPreview.png", Name = "Ball" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/PlankPreview.png", Name = "Plank" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "VPlank" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "DataLogger" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "LightGate" });
                this.StateHasChanged();
            }

            controls = new List<string>() { "Play", "Clear", "Save", "Reset" };
        }
    }



}