
<div class="side-bar side-bar-left">
    <ul>
        @foreach (var item in Available)
        {
            <li>
                <button @onclick="@((args) => AddObject(args,item.Name))">
                    <img src="@("/media/Icons/Icon_" + item.Name + ".png")" />
                    @item.Name
                </button>
            </li>
        }
    </ul>
</div>

<div class="side-bar side-bar-right">
    <ul>
        @foreach (var item in controls)
        {
            <li>
                <button @onclick="@((args) => ControlClick(item))">
                    @item
                    <img src="@("/media/Icons/Icon_" + item + ".png")" />
                </button>
            </li>
        }
    </ul>
</div>

<div class="main">
    <Simulation @ref="sim" Preset="Preset" />
</div>


@code{

    private Simulation sim;
    private List<string> controls = new List<string>();

    [Parameter]
    public List<Models.AvailableApparatus> Available { get; set; }

    [Parameter]
    public Models.SaveState Preset { get; set; }

    private void AddObject(MouseEventArgs e, string type)
    {
        sim.AddObject(e, type);
        sim.Rerender();

    }

    private void ControlClick(string type)
    {
        switch(type.ToUpper())
        {
            case "PLAY":
                sim.PlayPause();
                controls[controls.IndexOf(type)] = "Pause";
                break;
            case "PAUSE":
                sim.PlayPause();
                controls[controls.IndexOf(type)] = "Play";
                break;
            case "CLEAR":
                sim.Clear();
                break;
            case "SAVE":
                sim.Save();
                break;
            case "RESET":
                sim.Reset();
                break;
            default:
                break;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {

            if (Available.Count() == 0)
            {
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/RedBallPreview.png", Name = "Ball" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/PlankPreview.png", Name = "Plank" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "VPlank" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "DataLogger" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "LightGate" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "MetreStick" });
                Available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "Stopwatch" });
                this.StateHasChanged();
            }

            controls = new List<string>() { "Play", "Clear", "Save", "Reset" };
        }
    }



}