@page
@model NEA.Pages.SimulationsModel
@{
    ViewData["Title"] = "Simulations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>

    copyurl = function () {
        var url = window.location.href;
        var temp = document.getElementById("urlcopyinput");
        temp.value = url;
        temp.select();
        document.execCommand("copy");
        alert("Copied the text: " + temp.value);
        temp.value = "";
    };
</script>

<input id="urlcopyinput" value="" width="2" height="2" style="position: absolute; left: 0; top: 0; z-index: -1"/>

<h1>Simulations</h1>

<div class="sidebar">
    <ul>
        @foreach (var item in Model.Simulations)
        {
            <li>
                <a asp-page="/Simulations"
                   asp-route-id="@item.SimulationID">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </li>
        }
    </ul>
</div>

@if (Model.SelectedSimulation != null)
{
<div class="main">

    <br />

    <h3>@Model.SelectedSimulation.Name</h3>

    <br />

    <img class="mx-auto" src="@Model.SelectedSimulation.PreviewImgSrc" />

    <br />

    <p>@Model.SelectedSimulation.Description</p>

    <a class="btn btn-primary" asp-page="/Questions/Create" asp-route-simID="@Model.SelectedSimulation.SimulationID">Go to Questions</a>

    <a class="btn btn-primary" href=@("https://" + $"simulator-physsim.azurewebsites.net/{Model.SelectedSimulation.Name.Replace('.','-').Replace(" ",string.Empty).ToLower()}")>Go to Simulation</a>

    <button class="btn btn-primary clipboard" onclick="copyurl()">Copy URL to clipboard</button>



</div>
}

