@page
@model NEA.Pages.Assignments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ClassAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassAssignment.DateSet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassAssignment.DateSet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassAssignment.DateDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassAssignment.DateDue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassAssignment.Classroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassAssignment.Classroom.ClassroomID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassAssignment.Simulation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassAssignment.Simulation.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
