@page
@model NEA.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassAssignment[0].DateSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassAssignment[0].DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassAssignment[0].Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassAssignment[0].Simulation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClassAssignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.ClassroomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Simulation.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
