@page
@model NEA.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentQuestion[0].Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentQuestion[0].isCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentQuestion[0].Simulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentQuestion[0].Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentQuestion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Simulation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.AnswerString)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
