@page
@model NEA.Pages.Classes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Classroom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.Name)
        </dd>
        <dt class="col-sm-2">
            Number of Students
        </dt>
        <dd class="col-sm-10">
            @Model.Classroom.Enrollments.Count()
        </dd>
    </dl>
</div>

@if ((await AuthorizationService.AuthorizeAsync(
User, Model.Classroom, Operations.Unenroll)).Succeeded)
{
    <a class="btn btn-xs btn-danger"
       asp-page="/Enrollments/Delete"
       asp-route-classId="@Model.Classroom.ClassroomID">
        Unenroll
    </a>
}
@if (User.IsInRole(Constants.TeacherRole))
{
    <input type="text" width="2" height="2" style="position:absolute; left: 0; top: 0; z-index: -1" value="@(Request.Host + "/Enrollments/Create?id=" + Model.Classroom.ClassroomID) " id="copyEnrollLink" />
    <button class="btn btn-primary" onclick="copyEnrollLink()">Copy Enroll Link To Clipboard</button>
}

<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, Model.Classroom, Operations.EditClass)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Classroom.ClassroomID">Edit</a>
        <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    function copyEnrollLink() {
        var copyText = document.getElementById("copyEnrollLink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>
